application/config/development/
application/config/test/
application/config/production/
application/datamapper/cache/*.php
application/logs/*.php
application/cache/smarty/compiled/*.php
application/cache/smarty/cached/*.php
application/config/environment.php
