@import url('ledcoin_common.css');

table.admin_grid_table thead tr { border-bottom: thin solid black; }
table.admin_grid_table tbody tr:nth-child(odd) td { background-color: #99ff99; }
table.admin_grid_table tbody tr:nth-child(even) td { background-color: #ccffcc; }

span.operation_type_addition_highlight { color: blue; }
span.operation_type_subtraction_highlight { color: red; }

hr.form_divider_advanced, hr.form_divider_simple { border: 1px solid green; }
hr.form_divider_advanced.form_divider_top { margin-bottom: 0.1em; }
hr.form_divider_advanced.form_divider_bottom { margin-top: 0.1em; }
p.form_divider_text { margin: 0; padding: 0 0.5em; }

span.person_name_label, span.product_title_label { display: table-row; }
span.person_name_label > img, span.product_title_label > img { display: table-cell; }
span.person_name_label > span.person_name, span.product_title_label > span.product_title { display: table-cell; vertical-align: top; padding-left: 0.5em; }