@import url('strojak_common.css');

table.admin_grid_table thead tr { border-bottom: thin solid black; }
table.admin_grid_table tbody tr:nth-child(odd) td { background-color: #99ff99; }
table.admin_grid_table tbody tr:nth-child(even) td { background-color: #ccffcc; }